In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as  np

Demnading requests and creating a BeautifulSoup object

In [2]:
response = requests.get('https://www.jumia.co.ke/all-products/')
response

In [3]:
soup = BeautifulSoup(response.text,'lxml')

Getting the data

In [4]:
card = soup.find_all('article',attrs = {'class':'prd _fb col c-prd'})
len(card)

40

In [5]:
name = card[0].find('h3').text
price = card[0].find('div',attrs={'class':'prc'}).text.replace('KSH','')
rating = card[1].find('div',attrs={'class':'rev'}).text
rating = rating[0:3]
rating
review = card[1].find('div',attrs={'class':'rev'}).text
review = review[12:17].replace('(','')
review = review.replace(')','')
review

'282'

Scraping the entire website.

In [6]:
n = []
pr = []
ra = []
re = []
for p in range(1,51):
    response = requests.get(f'https://www.jumia.co.ke/all-products/?page={p}#catalog-listing')
    soup = BeautifulSoup(response.text,'lxml')
    card = soup.find_all('article',attrs = {'class':'prd _fb col c-prd'})
    for c in card:
        #name
        try:
            name = c.find('h3').text
            n.append(name)
        except:
            n.append(np.nan)
        #price
        try:
            price = c.find('div',attrs={'class':'prc'}).text.replace('KSH','')
            pr.append(price)
        except:
            pr.append(np.nan)
        #rating
        try:
            rating = c.find('div',attrs={'class':'rev'}).text
            rating = rating[0:3]
            ra.append(rating)
        except:
            ra.append(np.nan)
        #review
        try:
            review = c.find('div',attrs={'class':'rev'}).text
            review = review[12:17].replace('(','')
            review = review.replace(')','')
            re.append(review)
        except:
            re.append(np.nan)

In [7]:
df = pd.DataFrame({'Name':n,'Price/KSH':pr,'Rating':ra,'Review':re})
df

,Name,Price/KSH,Rating,Review
0,Midea Hot And Cold F/s Yl1932s,"KSh 7,999",NaN,NaN
1,Pembe Maize Meal – 2Kg,KSh 144,4.5,282
2,Dr. Rashel Vitamin C Brightening & Anti-Aging ...,KSh 325,4.1,3345
3,Fashion 6Pcs Pure Cotton Checked Men's Boxers ...,KSh 809,3.9,1216
4,Garnier Even And Matte - Vitamin C Booster Serum,"KSh 1,050",4.5,1494
...,...,...,...,...
1995,Generic 10 Inch LED Ringlight For Tiktok And Y...,"KSh 3,500",4.1,9
1996,Mi True Wireless Basic Airdot's Bluetooth V5....,"KSh 1,800",2 o,
1997,"Generic Bed,Car Stand Mount Long Arm Holder Fo...",KSh 780,NaN,NaN
1998,Memory Card- Boost Micro Sd,"KSh 549 - KSh 1,199",5 o,
1999,Harman Kardon Onyx STUDIO 6 Wireless BLUETOOTH...,"KSh 33,000",NaN,NaN

In [8]:
df.fillna(0)

,Name,Price/KSH,Rating,Review
0,Midea Hot And Cold F/s Yl1932s,"KSh 7,999",0,0
1,Pembe Maize Meal – 2Kg,KSh 144,4.5,282
2,Dr. Rashel Vitamin C Brightening & Anti-Aging ...,KSh 325,4.1,3345
3,Fashion 6Pcs Pure Cotton Checked Men's Boxers ...,KSh 809,3.9,1216
4,Garnier Even And Matte - Vitamin C Booster Serum,"KSh 1,050",4.5,1494
...,...,...,...,...
1995,Generic 10 Inch LED Ringlight For Tiktok And Y...,"KSh 3,500",4.1,9
1996,Mi True Wireless Basic Airdot's Bluetooth V5....,"KSh 1,800",2 o,
1997,"Generic Bed,Car Stand Mount Long Arm Holder Fo...",KSh 780,0,0
1998,Memory Card- Boost Micro Sd,"KSh 549 - KSh 1,199",5 o,
1999,Harman Kardon Onyx STUDIO 6 Wireless BLUETOOTH...,"KSh 33,000",0,0

In [9]:
df.to_csv("Jumia.cvs")
df.to_excel('Jumia.xlsx')

# THANK YOU